<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <% include partials/head %>
</head>

<body class="container">

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <p>Mensaje a ser enviado a:</p>
                    <textarea readonly><%= message %></textarea>
                </div>
                <div class="col-md-8 col-xs-12">

                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <a class="btn btn-success" href="/broadcast-send">Send</a>
                    <a class="btn btn-default" href="/broadcast">Cancel</a>
                </div>
                <div class="col-md-8 col-xs-12">
                    <p>El mensaje será enviado a: <strong><%= numUsers %></strong> users.</p>
                    <p>Listado de todos los usuarios:</p>
                    <ul>
                        <% users.forEach(function(user) { %>
                            <li>
                                <%= user.first_name %>
                                    <%= user.last_name %>
                            </li>
                            <% }) %>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>

</body>

</html>