<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Viktor-UJCM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container" id="registration-form">

        <div class="frm" class="card-panel lime lighten-3">
            <div>
                <h5 class="card-panel lime lighten-3">Registro Viktor UJCM</h5>
            </div>

            <form action="/webviews/save" method="GET" name="myForm">
                <div class="form-group">
                    <div class="form-group">
                    </div>
                    <div class="form-group">

                        <div class="col-s12">
                            <h6>¿A qué carrera o programa de posgrado te interesaría postular?</h6>
                        </div>
                        <select class="form-control form-control-lg" name="Escuela" id="Escuela">
                            <option class ="carrera" name="carrera" disabled selected>Escuela Profesional / Posgrado</option>
                            <option class ="carrera" name="carrera" disabled>Pregrado</option>
                            <option class ="carrera" name="carrera" id="carrera_1" value="1">Derecho</option>
                            <option class ="carrera" name="carrera" id="carrera_2" value="2">Contabilidad</option>
                            <option class ="carrera" name="carrera" id="carrera_3" value="3">Ingeniería Comercial</option>
                            <option class ="carrera" name="carrera" id="carrera_4" value="4">Ciencias Administrativas y Marketing Estratégico</option>
                            <option class ="carrera" name="carrera" id="carrera_5" value="5">Educación Inicial</option>
                            <option class ="carrera" name="carrera" id="carrera_6" value="6">Educación Física</option>
                            <option class ="carrera" name="carrera" id="carrera_6" value="13">Economía</option>
                            <option class ="carrera" name="carrera" id="carrera_7" value="7">Psicología</option>
                            <option class ="carrera" name="carrera" id="carrera_8" value="8">Ingeniería de Sistemas e Informática</option>
                            <option class ="carrera" name="carrera" id="carrera_9" value="9">Programa de Complementación Académica</option>
                            <option class ="carrera" name="carrera" disabled>Posgrado</option>
                            <option class ="carrera" name="carrera" id="carrera_10" value="10">Maestría</option>
                            <option class ="carrera" name="carrera" id="carrera_11" value="11">Doctorado</option>
                            <option class ="carrera" name="carrera" id="carrera_12" value="12">Segunda Especialidad</option>
                            <option class ="carrera" name="carrera" id="carrera_2" value="2">Contabilidad</option>
                            <option class ="carrera" name="carrera" id="carrera_3" value="3">Ingeniería Comercial</option>
                            <option class ="carrera" name="carrera" id="carrera_4" value="4">Ciencias Administrativas y Marketing Estratégico</option>
                            <option class ="carrera" name="carrera" id="carrera_5" value="5">Educación Inicial</option>
                            <option class ="carrera" name="carrera" id="carrera_6" value="6">Educación Física</option>
                            <option class ="carrera" name="carrera" id="carrera_6" value="13">Economía</option>
                            <option class ="carrera" name="carrera" id="carrera_7" value="7">Psicología</option>
                            <option class ="carrera" name="carrera" id="carrera_8" value="8">Ingeniería de Sistemas e Informática</option>
                            <option class ="carrera" name="carrera" id="carrera_9" value="9">Programa de Complementación Académica</option>
                            <option class ="carrera" name="carrera" disabled>Posgrado</option>
                            <option class ="carrera" name="carrera" id="carrera_10" value="10">Maestría</option>
                            <option class ="carrera" name="carrera" id="carrera_11" value="11">Doctorado</option>
                            <option class ="carrera" name="carrera" id="carrera_12" value="12">Segunda Especialidad</option>
                            <option class ="carrera" name="carrera" id="carrera_2" value="2">Contabilidad</option>
                            <option class ="carrera" name="carrera" id="carrera_3" value="3">Ingeniería Comercial</option>
                            <option class ="carrera" name="carrera" id="carrera_4" value="4">Ciencias Administrativas y Marketing Estratégico</option>
                            <option class ="carrera" name="carrera" id="carrera_5" value="5">Educación Inicial</option>
                            <option class ="carrera" name="carrera" id="carrera_6" value="6">Educación Física</option>
                            <option class ="carrera" name="carrera" id="carrera_6" value="13">Economía</option>
                            <option class ="carrera" name="carrera" id="carrera_7" value="7">Psicología</option>
                            <option class ="carrera" name="carrera" id="carrera_8" value="8">Ingeniería de Sistemas e Informática</option>
                            <option class ="carrera" name="carrera" id="carrera_9" value="9">Programa de Complementación Académica</option>
                            <option class ="carrera" name="carrera" disabled>Posgrado</option>
                            <option class ="carrera" name="carrera" id="carrera_10" value="10">Maestría</option>
                            <option class ="carrera" name="carrera" id="carrera_11" value="11">Doctorado</option>
                            <option class ="carrera" name="carrera" id="carrera_12" value="12">Segunda Especialidad</option>
                          </select>
                    </div>

                    <input type="hidden" name="psid" id="psid">

                    <div class="form-group">
                        <div class="col-s12">
                            <h6>Nombres:</h6>
                        </div>
                        <input type="text" class="form-control" required name="nombres" id="nombres" id="username" placeholder="Ingresa tus nombres">
                    </div>
                    <div class="form-group">
                        <div class="col-s12">
                            <h6>Apellidos</h6>
                        </div>
                        <input type="text" class="form-control" required name="apellidos" id="apellidos" id="username" placeholder="Ingresa tus apellidos">
                    </div>
                    <div class="form-group">
                        <div class="col-s12">
                            <h6>DNI:</h6>
                        </div>
                        <input type="text" class="form-control" required name="dni" id="dni" id="dni" placeholder="Ingresa tu DNI">
                    </div>

                    <div class="form-group">
                        <div class="col-s12">
                            <h6>Email:</h6>
                        </div>
                        <input type="text" class="form-control" required name="email" id="email" placeholder="ejemplo@gmail.com">
                    </div>

                    <div class="form-group">
                        <div class="col s12">
                            <h6>¿Quieres que te informe sobre detalles de los próximos procesos de admisión en la UJCM Filial Tacna?:</h6>
                        </div>
                        <div class="col s6"><label><input type="radio" class="broadcast"  id="broadcast_1" name="broadcast" value="1" checked><span>Sí</span></label></div>
                        <div class="col s6"><label><input type="radio" class="broadcast" id="broadcast_0" name="broadcast" value="0"><span>No</span></label></div>
                    </div>



                    <div class="form-group" class="btn waves-effect waves light">
                        <button id="submitButton" type="submit" value="submit" class="btn btn-success btn-lg"> <i class="">Enviar</i></button>

                    </div>

            </form>

            </div>
        </div>
        <footer>
            <% include partials/footer %>
        </footer>

        <!--Limpiar campos luego de submitting-->
        <script type="text/javascript">
            //webview

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'Messenger'));

            //Cuando ya cargo el webview
            window.extAsyncInit = function() {
                MessengerExtensions.getContext('2088363134567524',
                    function success(thread_context) {
                        $('#psid').val(thread_context.psid);
                        $.getJSON('/webviews/settings?psid=' + thread_context.psid, function(data) {
                            console.log('Ha llego esto :V :', data);
                            $('#carrera_' + data.id_carrera).prop('selected', true);
                            $('#codigo').val(data.cod_estudiante);
                            $('#nombres').val(data.nombres);
                            $('#apellidos').val(data.apellidos);
                            $('#dni').val(data.dni);
                            $('#email').val(data.email);
                            $('#broadcast_' + data.newsletter).prop('checked', true);


                        });
                    },
                    function error(err) {
                        // error
                    }
                );
                $('#submitButton').click(function() {
                    MessengerExtensions.requestCloseBrowser(function success() {
                        // webview closed
                    }, function error(err) {
                        // an error occurred
                    });
                });
            };
        </script>
</body>

</html>