html {
    background: url("backia2.jpg") no-repeat;
    background-size: cover;
    min-height: 100%;
}

body {
    background-color: transparent;
}

#registration-form {
    max-width: 60%;
    margin: 120px auto;
}

#registration-form .frm {
    float: right;
    height: 80%;
    width: 100%;
    min-width: 50%;
    padding: 0 35px;
    background-size: 100% 100%;
    background-color: white;
}

#registration-form h1 {
    margin-top: 10%;
    margin-bottom: 10%;
}

#registration-form .form-control {
    width: 90%;
    padding: 12px 20px;
    height: auto;
}

@media screen and (max-width: 700px) {
    #registration-form .image {
        width: 30%;
        background-position: 60%;
    }
    #registration-form .frm {
        width: 70%;
    }
    #registration-form .form-control {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    #registration-form .image {
        display: none;
    }
    #registration-form .frm {
        width: 100%;
    }
    #registration-form h1 {
        text-align: center;
    }
    #registration-form .btn {
        width: 100%;
        margin-top: 20px;
    }
}